!!!5
html(lang='en')

  head
    
    meta(charset='utf-8')
    title test
    link(rel='stylesheet', href='../../node_modules/mocha/mocha.css')
    link(rel='stylesheet', href='../../build/build.css')

  body

    #mocha

    script(src='../../build/build.js')
    
    :coffeescript

      window.assert = require 'timoxley-assert'

    script(src='../../node_modules/mocha/mocha.js')

    :coffeescript
      mocha.setup 'bdd'
      mocha.setup
        globals: ['hasCert']

    script(src='../lib/index.js')

    :coffeescript

      if window.mochaPhantomJS
        mochaPhantomJS.run()
      else
        mocha.run()
